spring:
  application:
    name: product

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org.springframework.security.web: DEBUG

app:
  upload:
    dir: uploads

server:
  servlet:
    context-path: /product
  port: 8081


# swagger
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
    doc-expansion: none
