version: "3.9"

services:
  mysql:
    image: mysql:latest
    container_name: mysql-container
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: supersecreta
      MYSQL_DATABASE: mi_base
      MYSQL_USER: usuario
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  springboot:
    build: .
    container_name: springboot-app
    ports:
      - "8081:8081"
    environment:
      DB_URL: jdbc:mysql://mysql:3306/mi_base
      DB_USER: usuario
      DB_PASS: 123456
    depends_on:
      - mysql

volumes:
  mysql_data:


